<html>
	<title>Cloud - Error</title>

	<head>
		
	</head>

	<body>
		<div id="error_title" style="font-size:30; text-align:center;">Error</div>
		<div id="error_message" style="font-size:18; text-align:center;">{{ error_message }}</div>
	</body>
</html>