<html>
	<head>
		<title>Cloud</title>
		<link rel="stylesheet" type="text/css" href="/static/home.css">
		<link rel="stylesheet" type="text/css" href="/static/breadcrumb.css">
		<link rel="stylesheet" type="text/css" href="/static/contextmenu.css">

	</head>
	<body>
		<div id="navbar" class="no_contextmenu">
			<div id="breadcrumb"></div>

			<div id="userinfocontainer" class="drop_down_menu_container" onclick="contextmenu.showUserDropDownMenu()">
				<div id="userinfo">
					{{ username }}
				</div>
				<div id="user_dropdown" class="context_menu" style="display:none; position:absolute; min-width:200px; font-size: 14; right:0;">
					<div class="menu_entry" onclick="window.location.href = '/logout' ">Log out</div>
				</div>
			</div>
		</div>

		<div id="mainbody" onclick="contextmenu.hideAllContextMenus()" class="no_contextmenu">
			<div id="filetree">
			</div>

			<div id="filelist" oncontextmenu="">
				<div id="foldercontainer">

				</div>
				<p></p>
				<div id="filecontainer">

				</div>

			</div>
		</div>

		<menu type="contextmenu" id="folderMenu" class="context_menu" style="display:none;" onclick="contextmenu.hideAllContextMenus()">
			<div class="menu_entry">
				Open folder...
			</div>
			<hr class="menu_entry_separator">
			<div class="menu_entry">
				Download not avilabile
			</div>
			<hr class="menu_entry_separator">
			<div class="menu_entry" onclick="contextmenu.deleteFolder(event)">
				Delete folder
			</div>
		</menu>

		<menu type="contextmenu" id="fileMenu" class="context_menu" style="display: none;" onclick="contextmenu.hideAllContextMenus()">
			<div class="menu_entry" onclick="contextmenu.downloadItem(event)">
				Download
			</div>
			<div class="menu_entry" onclick="contextmenu.deleteFile(event)">
				Delete
			</div>
		</menu>

		<iframe id="downloadFrame" src="" style="display: none;"></iframe>

		<script type="text/javascript" src="/static/jquery.js"></script>
		<script type="text/javascript" src="/static/breadcrumb.js"></script>
		<script type="text/javascript" src="/static/userinfo.js"></script>
		<script type="text/javascript" src="/static/dropzone.js"></script>
		<script type="text/javascript" src="/static/contextmenu.js"></script>
		<script type="text/javascript" src="/static/api.js"></script>
		
		<script type="text/javascript">
			/*
				Download JSON data passed from the server
				and load it as Folder and File objects.
			*/
			userFileHirierarchy = JSON.parse('{{ files }}');

			var rootFolder = new Folder("{{ username }}", [], null);

			// Actual object creation happens here.
			buildFileView(userFileHirierarchy, rootFolder);

			// Needed to make various calls to the server
			//Set the root folder as the current folder.
			var currentFolderPath = "";
			setCurrentFolder(rootFolder);
			
			contextmenu.hideAllContextMenus();

			/**
			*	Parse the dictionary and build the model objects(File and Folder).
			*	Render the objects in the page.
			*	Build a navigation system.
			*	Bind events to callback to the elements.
			*
			*	@param {dictionary} folderDict - The dictionary containing the files and folders
			*	@param {Folder} currentFolder - The folder to append the files to.
			*/
			function buildFileView(folderDict, currentFolder){
				for(var i = 0; i < (item = folderDict["folder"]["children"]).length; ++i){
						var itemType = item[i];
						if (itemType["file"]){
							var fileObject = itemType["file"];
							var fileName = fileObject["name"];
							console.log("File: " + fileName);
							var file = new File(fileName);
							currentFolder.addChild(file);
						}else{
							var folderObject = itemType["folder"];
							var folderName = folderObject["name"];
							var folder = new Folder(folderName, [], currentFolder);
							currentFolder.addChild(folder);
							buildFileView(itemType, folder);
							console.log("Folder: " + folderName);
						}
					}
			}

			/**
			*	Draws the content of the folder parameter in the page,
			*	exactly in the #filecontainer and #foldercontainer objects.
			*
			*	@param {Folder} - The folder which files will be displayed.
			*/
			function displayFolderContent(folder){
				for(var i = 0; i < (children = folder.getChildren()).length; ++i){
					var item = children[i]; 
					if (item.constructor == File){
						//Add a file to the page
						
						var $fileDiv = $("<div></div>");
						$fileDiv.attr("id", "file_obj");
						$fileDiv.attr("oncontextmenu",
									 "contextmenu.fileContextMenu(event, \"" + item.getName() + "\")");	


						var $fileThumbnailContainer = $("<div></div>");
						$fileThumbnailContainer.attr("id", "file_thumbnail");

						var $fileIcon = $("<img>");
						$fileIcon.attr("src", "/static/images/file_icon.svg");
						$fileIcon.addClass("thumbnail");

						var $fileNameTag = $("<div></div>");
						$fileNameTag.attr("id", "file_name");
						$fileNameTag.append(item.getName());

						$fileThumbnailContainer.append($fileIcon);
						$fileDiv.append($fileThumbnailContainer);
						$fileDiv.append($fileNameTag);
						
						$("#filecontainer").append($fileDiv);

					}else if (item.constructor == Folder){
						//Add a folder to the page
						var $folderDiv = $("<div></div>");
						$folderDiv.attr("id", "folder_obj");
						$folderDiv.prop("folderObject", item);
						
						$folderDiv.on("contextmenu", function(event){
							contextmenu.folderContextMenu(event, this.folderObject);
						});

						$folderDiv.attr("ondblclick", "navigateTo(\"" + item.getName() + "\")");
						var $folderThumbnailContainer = $("<div></div>");
						$folderThumbnailContainer.attr("id", "folder_thumbnail");

						var $folderIcon = $("<img>");
						$folderIcon.attr("src", "/static/images/folder_icon.svg");
						$folderIcon.addClass("thumbnail")

						var $folderNameTag = $("<div></div>");
						$folderNameTag.attr("id", "folder_name");
						$folderNameTag.append(item.getName());

						$folderThumbnailContainer.append($folderIcon);
						$folderDiv.append($folderThumbnailContainer);
						$folderDiv.append($folderNameTag);

						$("#foldercontainer").append($folderDiv);

					}
				}
			}


			/**
			*	Set the a new current folder.
			*	This function has several collateral effects:
			*		- Clear all the files currently displayed
			*		- Redraw the new files
			*		- Rebuild the breadcrumb.
			*		- Change the current folder path
			*
			*	@param {Folder} - The new current folder.
			*/
			function setCurrentFolder(newCurrentFolder){
				currentFolder = newCurrentFolder;
				clearFileList();
				displayFolderContent(currentFolder);
				breadcrumb.build_breadcrumb(currentFolder);
				currentFolderPath = currentFolder.getFolderPath();
				console.log(currentFolder.getFolderPath());
			}


			/**
			*	A file object
			*	@constructor
			*/
			function File(name){
				this.name = name;

				/**
				*	Returns the name of this file.
				*	@return {String} - the name of this file.
				*/
				this.getName = function(){
					return this.name;
				}
			}

			function Folder(name, children, parentFolder){
				this.children = children;
				this.name = name;
				this.parentFolder = parentFolder;
				
				this.getName = function(){
					return this.name;
				};
				this.getChildren = function(){
					return this.children;
				};
				this.addChild = function(new_child){
					this.children.push(new_child);
				};

				this.setParentFolder = function(parent){
					this.parentFolder = parent;
				};

				this.getParentFolder = function(){
					return this.parentFolder;
				};

				this.getFolderPath = function(){
						var parent = this;
						var tmp = [];
						var result = "";
					do{
						tmp.push(parent.getName());
						parent = parent.getParentFolder();

					}while(parent);

					for(var i = tmp.length - 1; i >= 0; --i){
						result += tmp[i] + "/";
					} 
					return result;
				};

				this.isEmpty = function(){
					return this.children.length == 0;
				}
			}


			/**
			*	Redraws the current folder.
			*/
			function redrawFolder(){
				clearFileList();
				displayFolderContent(currentFolder);
			}


			/**
			*	Clears the page of the displayed files.
			*/
			function clearFileList(){
				$("#foldercontainer").empty();
				$("#filecontainer").empty();
			}


			/*
				navigateTo only works with folders that are
				contained into the current folder.
			*/
			function navigateTo(target){
				for(var i = 0; i < currentFolder.children.length; ++i){
					var item = currentFolder.children[i];
					if (item.constructor == Folder 
						&& item.getName() == target){
						/*
							We found the selected folder, now we render
							its children and update state variables.
						*/
						setCurrentFolder(item);
					}
				}
			}			

			

			/*
				Here we setup dropzone to make a drag and drop
				upload functionality.
			*/
			$("#filelist").dropzone({
				url : "/upload", 
				createImageThumbnails : false,
				// We don't want anything to be displayed. 
				previewTemplate : '<div style="display:none"></div>',
				clickable : false,
				sending : function(file, xhr, formData){
					formData.append('current_folder', currentFolderPath.replace("{{ username}}/", ""));
					console.log(currentFolderPath.replace("{{ username}}/", "") + file);

				},

				success : function(file, response){
					console.log("Successfully uploaded a file: %s", file.name);
					// Add a new file to the current folder
					// and re-renderize it
					var newFile = new File(file.name);
					currentFolder.addChild(newFile);
					redrawFolder();
				},
			});



		</script>
	</body>
</html>