.context_menu{
	background-color : rgb(108, 154, 193);
	border: groove;
	box-shadow: 3px 3px 4px #888888;
	border-width: 1px;
	border-radius: 4px;
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: none;
	position: fixed;
}

.menu_entry{
	font-family: "Lucida Console", Monaco, monospace;
	padding-right: 100px;
	padding-left: 15px;
}

.menu_item_hover{
	background-color: rgb(83, 118, 148);
	color : white;
}

.menu_entry_separator{
	margin-top: 3px;
	margin-bottom: 3px;
	border-color: #6c9ac1;
}

.context_menu_show{
	display: block;
}

.drop_down_menu_container{
	display: inline-block;
	position: relative;
	float: right;
}