#file_obj{
	background-color: white;
	box-shadow: 0px 3px 2px #888888;
	width : 150px;
	height: 150px;
	margin: 30px;
	display : inline-table;
	border-style: groove;
	border-width: 2px 0px 0px 0px;
}

#file_name{
	margin: 0px;
	height: 20px;
	max-height: 20px;
	width: 150px;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color : rgba(63, 95, 121, 0.4);
	text-transform: capitalize;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14;
	padding-top: 5px;

}

#file_thumbnail{
	height: 130px;
}

#folder_obj{
	background-color: #9baab5;
	width : 150px;
	height: 150px;
	margin : 30px;
	display : inline-table;
	border-style: groove;
	border-width: 2px 0px 0px 0px;

}
#folder_name{
	margin: 0px;
	height: 20px;
	max-height: 20px;
	width: 150px;
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color : #b2bfc9;
	font-family: "Lucida Console", Monaco, monospace;
	text-transform: capitalize;
	font-size: 14;
	padding-top: 5px;

}

#folder_thumbnail{
	height: 130px;
}

#filelist{
	background-color: rgb(47, 89, 125);
	margin-left: -5px;
	margin-bottom: 0px;
	flex-grow: 1;
}

#userinfocontainer{
	padding-right: 5px;
	margin-top: 10px;
	background-color: #769ead;
	position: relative;
	float: right;
	vertical-align: middle;
	font-family: verdana;
	font-size: 26;
	height: 30px;
}

#userinfo{
	text-transform: capitalize;
	margin-left: 10px;
	margin-right: 10px;
}

#navbar{
	background-color: rgba(236, 240, 241, 0.55);
	height: 50px;
	border-bottom: groove;
	border-color: rgba(179, 184, 185, 0.55);
	border-width: 2px;
}

#breadcrumb{
	padding-top: 10px;
	padding-left: 20px;
	display: inline-block;
}

body{
	margin: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}


#mainbody{
	display: flex;
	flex-grow: 1;
}

.thumbnail{
	width: 80%;
	display: block;
	margin: auto;
}