@font-face{
	font-family: Cuyabra;
	src: url('/static/fonts/cuyabra.otf');
}

#loginBox{
    margin: auto;
    margin-top: 15%;
    width: 350px;
    height: 350px;
    border-style: groove;
}

#loginForm > input{
    display: block;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 13px;
    font-family: Cuyabra; 
    height: 30px;
}

.inputBox{
    border-style: groove;
    border-radius: 7px;
    padding-left: 7px;
    width: 200px;
}

#loginForm > input[type="submit"]{
    border-style: groove;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 16;
    width: 90px;
    background-color: #2ac7e3;
    border-width: 2px;
    color: white;
    font-weight: bolder;
}

#loginForm{
    text-align: center;
}

#logo{
    width: 200px;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-top: 10px;
}